<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friday the 13th Part 2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="nav"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("./navc.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("nav").innerHTML = data;
                });
        });
    </script>
    <!-- <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">My Film</a>
        </div>
        <ul class="navbar-nav">
            <li><a href="../list/f.html">Back</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav> -->
    <h1 class="judul">Friday the 13th Part 2</h1>

    <table class="info-table">
        <tr>
            <th colspan="2">Friday the 13th Part 2</th>
        </tr>
        <tr>
            <td colspan="2" class="image-cell">
                <img class="centered-image" src="../images/friday-the-13-th-paet-2.jpg" alt="Friday the 13th">
            </td>
        </tr>
        <tr>
            <th>Film</th>
            <td>Friday the 13th Part 2</td>
        </tr>
        <tr>
            <th>source cerita: </th>
            <td>
                <a href="https://id.wikipedia.org/wiki/Friday_the_13th_Part_2" target="_blank">wikipedia</a>
            </td>
        </tr>
        <tr>
            <th>Tanggal rilis</th>
            <td>1 Mei 1981</td>
        </tr>
        <tr>
            <th>Bahasa</th>
            <td>Bahasa Inggris</td>
        </tr>
        <tr>
            <th>Durasi</th>
            <td>87 menit</td>
        </tr>
    </table>

    <div class="cerita">
        <p class="text">Dua bulan setelah akhir dari film pertama, Alice Hardy (Adrienne King), satu-satunya orang yang berhasil selamat dari pembunuhan di Tempat Kamping Crystal Lake. Ia dibunuh oleh seseorang setelah melihat sebuah kepala beku yang ia penggal dua bulan yang lalu.</p>
        <p class="text">Lima tahun kemudian, sebuah grup pemuda-pemudi datang ke Crystal Lake untuk menghadiri training konselor yang nantinya akan ada di Crystal Lake juga. Ketika beberapa konselor kembali ke kota untuk membeli beberapa barang, Ralph muncul lagi dan memperingatkan mereka semua, dan tentu saja mereka tidak mengindahkan peringatan tersebut. Paul Holt, pemimpin grup tersebut, menjelaskan bagaimana pekerjaan mereka sebagai konselor sangat pening, dan bahaya utama di area tersebut adalah beruang. Saat malam hari mengelilingi api unggun, Paul menceritakan teman-temannya tentang kejadian Jason Voorhees dan tentang Alice, juga serangkaian pembunuhan aneh yang terjadi disana. Beberapa orang yang tinggal diwilayah dekat Crystal Lake mempercayai bahwa Jason masih hidup berkat selamat dari danau dan "melindungi" wilayah Crystal Lake. Paul yang menceritakan tidak terlalu percaya dengan cerita tersebut.</p>
        <p class="text">Ketika Paul dan asistennya, Ginny Field, berhubungan seks, Ralph berdiri di jendela dan tiba-tiba ia dibunuh. Keesokan harinya, dua konselor lain, Sandra dan Jeff, pergi ke Tempat Kamping Crystal Lake yang sekarang sudah tidak dirawat lagi. Mereka menemukan bangkai anjing yang mereka asumsikan sebagai anjing Terry. Lalu mereka dibawa oleh seorang polisi yang mengatakan bahwa tempat itu berbahaya. Saat mobil polisi berjalan, serorang pria bertopeng berlari memasuki batas Tempat Kamping Crystal Lake. Sang polisi mengejar orang itu dan tidak menemukan dia, selain sebuah kabin tua uyang berisikan barang-barang menakutkan. Kemudian, saat ia ingin berjalan keluar, triplek kabin dibelakangnya tertebas ujung palu yang tajam dan tertancap ke kepala polisi itu.</p>
        <p class="text">Setelah saling berkenalan dan berpartisipasi dalam acara-acara pelatihan, para pelatih itu meninggalkan tempat kamping untuk berpesta di kota. Enam konselor yang tersisa, Vickie, Mark, Sandra, Jeff, Terry, dan Scott dibunuh satu persatu.</p>
        <p class="text">Terry pergi ke danau untuk berenang telanjang dan Scott mengambil bajunya. Scott kemudian terkena jebakan untuk binatang dan tergantung. Terry melihatnya, dan berjanji akan membantu Scott nanti setelah kembali ke tempat kamping. Ketika Terry kembali, dia melihat Scott telah meninggal dan saat ia berusaha kabur, ia turut dibunuh oleh orang yang sama.</p>
        <p class="text">Kembali ke kabin, Sandra dan Jeff pergi ke atas sementara Vickie pergi ke kabinnya untuk beristirahat. Mark menunggunya dan ingin kembali ke kabin karena tiba-tiba badai datang. Kemudian seseorang memukul wajahnya dengan golok dan Mark meninggal setelah terjatuh dari tangga di luar tempat kamping. Penyerang itu, memasuki kabin dan pergi ke atas dan melihat sebuah tombak. Tombak itu digunakannya untuk membunuh Sandra dan Jeff. Vickie kemudian kembali ke kabin dan melihat mayat Sandra dan Jeff, kaki Vickie ditusuk dan didorong paksa sehingga sendinya patah. Lalu penyerang itu menusukkan pisau ke dadanya.</p>
        <p class="text">Ginny dan Paul kembali ke tempat kamping dan pada saat yang sama sang pembunuh telah menyeret mayat Sandra, Jeff, dan Vickie. Ginny dan Paul menyadari bahwa kabin utama tidak mendapatkan pasokan listrik. Ginny dan Paul pergi keatas dan melihat darah sisa pembunuhan Sandra dan Jeff. Paul diserang oleh penyerang yang memakai karung goni untuk menutupi kepala dan wajahnya. Ginny kabur sambil berteriak dan melihat mayat Ralph, ia segera melompati sebuah jendela.</p>
        <p class="text">Ginny kemudian dikejar oleh pembunuh itu. Ginny memasuki kabin tua untuk bersembunyi. Dikamar belakang ia melihat sebuah meja altar yang ditengahnya ada kepala Pamela Voorhees. Beberapa mayat korban terlihat disamping altar. Pembunuh itu ternyata adalah Jason Voorhees. Ia yang dikira telah mati, berhasil selamat dari ketenggelamannya dan hidup di hutan selama hidupnya. Ginny kemudian mengambil sweater Mrs. Voorhees dan berpura-pura agar Jason memercayai bahwa dia adalah ibunya. Jason melihat kepala ibunya dan menyerang kembali sebelum Paul datang dan berkelahi dengan Jason. Ginny memukulkan golok ke bahu Jason. Paul dan Ginny kemudian kembali ke kabin di mana Jason mereka kira telah meninggal. Lalu, Jason yang tidak lagi mengenakan karung goni menyerang kabin itu kembali dan menarik Ginny keluar dari kabin. Ginny terbangun disebuah ambulans dan berkata "Paul, Paul, dimana Paul?" Tidak diketahui nasib Paul, entah ia selamat atau tidak.</p>
    </div>

    <!-- footer -->
    <div id="content-placeholder"></div>
    <script src="./foot.js"></script>
</body>

</html>