<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friday the 13th (1980)</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="nav"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("./navc.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("nav").innerHTML = data;
                });
        });
    </script>
    <!-- <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">My Film</a>
        </div>
        <ul class="navbar-nav">
            <li><a href="../list/f.html">Back</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav> -->
    <h1 class="judul">Cerita Singkat Friday the 13th (1980)</h1>

    <table class="info-table">
        <tr>
            <th colspan="2">Friday the 13th (1980)</th>
        </tr>
        <tr>
            <td colspan="2" class="image-cell">
                <img class="centered-image" src="../images/Friday_the_13th_(1980)_theatrical_poster.jpg" alt="Friday the 13th">
            </td>
        </tr>
        <tr>
            <th>Film</th>
            <td>Friday the 13th (1980)</td>
        </tr>
        <tr>
            <th>source cerita: </th>
            <td>
                <a href="https://id.wikipedia.org/wiki/Friday_the_13th_(film_1980)" target="_blank">wikipedia</a>
            </td>
        </tr>
        <tr>
            <th>Tanggal rilis</th>
            <td>9 Mei 1980</td>
        </tr>
        <tr>
            <th>Bahasa</th>
            <td>Bahasa Inggris</td>
        </tr>
        <tr>
            <th>Durasi</th>
            <td>95 menit</td>
        </tr>
    </table>

    <div class="cerita">
        <p class="text">Film dimulai dengan dua konselot di Tempat Kamping Crystal Lake, Barry (Willie Adams) dan
            Claudette (Debra S. Hayes), yang pergi dari kumpulan teman-temannya yang berkumpul di api unggun dan pergi
            ke sebuah kabin untuk berhubungan seks. Sebelum mereka selesai, seorang pembunuh yang tidak terlihat (karena
            kameranya bertindak sebagai mata pembunuh) masuk dan membunuh keduanya.</p>
        <p class="text">Film berlanjut ke hari Jumat, 13 Juni 1979. Seorang perempuan bernama Annie (Robbi Morgan)
            memasuki tempat makan kecil dan menanyakan arah ke Tempat Kamping Crystal Lake, yang membuat sebuah muka
            horor oleh seluruh isi tempat makan tersebut. Enos (Rex Everhart), seorang sopir tempat makan itu, setuju
            untuk memberikannya tumpangan kesana karena kebetulan ia melewati tempat itu. Seorang pria tua aneh bernama
            Ralph (Walt Gorney) bereaksi dengan tingkah Annie yang berkata akan membuka kembali Tempat Kamping Crystal
            Lake, Ralph tidak menyetujuinya. Dalam perjalanan, Enos memperingatkan Annie tentang tempat tersebut,
            memberitahukan bahwa seorang anak lelaki muda tenggelam di Crystal Lake di 1957, setahun sebelum dua
            pembunuhan terjadi, dan diikuti dengan kejadian kebakaran dan air beracun. Setelah ia selesai menumpang
            dengan Enos dan menyetop sebuah Jeep. Jeep itu berisi seseorang yang tidak dilihatkan tampangnya, dan
            membunuh Annie dengan pisau besar setelah Annie mencoba lolos.</p>
        <p class="text">Saat di tempat kamping, konselor lain, Ned (Mark Nelson), Jack (Kevin Bacon), Bill (Harry
            Crosby), Marcie (Jeannine Taylor), Brenda (Laurie Bartram), Alice (Adrienne King) dan pemilik tempat
            tersebut, Steve Christy (Peter Brouwer), merenovasi dan memperbaharui sedikit semua fasilitas di tempat itu.
            Sebuah badai yang sangat besar mendekat, Steve meninggalkan tanah kamping untuk mencari beberapa suplai
            makanan. Seorak pembunuh yang tidak dapat diidentifikasi mulai mengisolasi dan membunuh para konselor.
            Pertama Ned, kemudian Jack, dan kemudian Marcie. Sementara itu, Alice, Brenda dan Bill memainkan monopoli di
            kabin utama. Brenda kemudian pergi meninggalkan Alice dan Bill untuk tidur di kabinnya. Saat ia berada
            dikamar, membaca buku, ia mendengar suara anak kecil yang menangis sambil berkatan 'tolong aku' beberapa
            kali. Brenda keluar dan dibunuh oleh panah. Alice berkata kepada Bill bahwa ia mendengar suara teriakan
            Brenda dan melihat bahwa lampu arena panahan menyala semua. Mereka lalu pergi ke kabin Brenda dan menemukan
            sebuah kapak berdarah di kasur Brenda. Mereka berdua berusaha menelepon polisi, tetapi semua teleponnya
            mati.<br> Tak habis akal mereka berusaha pergi dari situ, sialnya mobil tidak bisa berjalan. Pada dini hari,
            Steve kembali dari kota dan dibunuh, ia kelihatannya mengenal pembunuh tersebut dari percakapan mereka.
            Kembali ke tempat kamping, mati lampu. Bill pergi untuk mengecek generator. Alice akhirnya ikut mencari Bill
            yang belum kembali juga. Kemudian ia menemukan mayat Bill yang tertusuk panah. Kini sendirian, Alice kembali
            ke kebin utama. Setelah rehat sedikit, seseorang melemparkan mayat Brenda ke jendela kabin.</p>
        <p class="text">Alice mendengar suara mobil di luar dan berpikir bahwa itu Steve, ia segera pergi keluar untuk
            memperingatkannya. Namun, ia menemukan seorang wanita setengah baya yang memperkenalkan diri sebagai Mrs.
            Voorhees (Betsy Palmer), menyatakan bahwa ia adalah "teman lama keluarga Christy". Alice berusaha
            menjelaskan terjadi pembunuhan besar-besaran ditempat itu. Mrs. Voorhees tampak ngeri saat melihat mayat
            Brenda, tetapi kemudian ia memberitahu Alice bahwa dia adalah ibu dari anak lelaki kecil yang tenggelam
            didanau pada tahun 1957, dan saat itu bertepatan dengan ulang tahun anakk itu. Kemudian ia mulai berbicara
            dan berargumen sendiri, bahwa kedua konselor dulu berhubungan seks dan tidak mengetahui bahwa Jason
            tenggelam di danau. Terungkaplah dari situ bahwa Mrs. Voorhees dendam kepada seluruh konselor yang
            dianggapnya "satu kesatuan yang membunuh anaknya". Maka Mrs. Voorhees berusaha membunuh mereka semua. Mrs.
            Voorhees menjadi mulai kasar dan mengejar Alice dengan pisau. Saat dikejar, ia menemukan mayat Annie dan
            Stece. Alice dan Mrs. Voorhees berkali-kali berkelahi dan akhirnya Alice berhasil mengalahkan Mrs. Voorhees
            dengan memenggal kepala ibu gila itu dengan golok.</p>
        <p class="text">Setelah itu, Alice menggunakan kano dan mendayung hingga ke tengah danau. Saat matahari terbit,
            mayat anak Mrs. Voorhees, Jason (Ari Lehman) menyerang Alice, saat polisi datang. Kemudian saat Alice
            ditarik ke dalam air, Alice terbangun dari mimpi buruknya, ia sudah selamat di rumah sakit di mana Sersan
            Tierney (Ron Carroll) mengatakan bahwa ia ditarik dari dalam danau karena tertidur lalu tenggelam. Alice
            diinformasikan bahwa semua orang telah mati;saat ia bertanya tentang Jason, Tierney berkata bahwa mereka
            tidak pernah menemukan seorang anakpun, mengimplikasikan pada Alice yang takut bahwa...Jason masih h</p>
    </div>

    <!-- footer -->
    <div id="content-placeholder"></div>
    <script src="./foot.js"></script>
</body>

</html>