<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insidious 2010</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
        <div id="nav"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("./navc.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("nav").innerHTML = data;
                });
        });
    </script>
    <!-- <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">My Film</a>
        </div>
        <ul class="navbar-nav">
            <li><a href="../list/f.html">Back</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav> -->
    <h1 class="judul">Cerita Singkat insidious-2010</h1>

    <table class="info-table">
        <tr>
            <th colspan="2">insidious-2010</th>
        </tr>
        <tr>
            <td colspan="2" class="image-cell">
                <img class="centered-image" src="../images/insidious-2010 (1).png" alt="Insidious: Chapter 3">
            </td>
        </tr>
        <tr>
            <th>Film</th>
            <td>insidious-2010</td>
        </tr>
        <tr>
            <th>source cerita: </th>
            <td>
                <a href="https://id.wikipedia.org/wiki/Insidious_(film)" target="_blank">wikipedia</a>
            </td>
        </tr>
        <tr>
            <th>Tanggal rilis</th>
            <td>14 september 2010 </td>
        </tr>
        <tr>
            <th>Bahasa</th>
            <td>Bahasa Inggris</td>
        </tr>
        <tr>
            <th>Durasi</th>
            <td>101 menit</td>
        </tr>
    </table>

    <div class="cerita">
        <p class="text">Pasangan suami istri Josh dan Renai Lambert baru saja pindah ke rumah baru bersama putra mereka, Dalton dan Foster, dan putri mereka yang masih bayi, Cali. Suatu malam, Dalton menyelinap ke loteng, di mana dia bertemu dengan entitas misterius. Keesokan harinya, dia secara tak terduga mengalami koma.</p>
        <p class="text">Tiga bulan kemudian, tanpa hasil di rumah sakit, Renai dan Josh membawa Dalton kembali ke rumah. Keluarga tersebut mulai mengalami kejadian paranormal yang menakutkan, termasuk suara-suara aneh dan Keamanan rumah mereka berbunyi dengan sendirinya berulang kali. Foster juga mengklaim bahwa dia telah melihat Dalton yang koma berjalan di sekitar rumah dan Renai menemukan jejak tangan berdarah di tempat tidur Dalton. Kemudian, Renai mulai melihat Penampakan hantu berambut panjang dan jahat yang mencoba menyerangnya. Keluarga Lambert memutuskan untuk pindah, dengan Renai percaya bahwa rumah itu berhantu.</p>
        <p class="text">Namun, aktivitas supranatural berlanjut di rumah baru mereka ketika Renai melihat hantu seorang anak kecil yang mengenakan pakaian zaman dulu. Ibu Josh, Lorraine, datang dan menjelaskan bahwa dia bermimpi buruk tentang setan dengan wajah merah di kamar tidur Dalton. Dia kemudian melihat iblis yang sama di belakang Josh, dan kamar tidur Dalton diobrak-abrik oleh kekuatan tak terlihat. Lorraine memanggil cenayang Elise Rainier dan penyelidik paranormal Specs dan Tucker.[9] Di kamar tidur Dalton, Elise melihat penampakan setan berwajah merah.</p>
        <p class="text">Elise menjelaskan bahwa Dalton tidak sedang koma; dia terlahir dengan kemampuan untuk perjalanan astral dan tanpa sadar telah melakukannya dalam tidurnya, percaya bahwa dia hanya bermimpi. Kali ini dia telah melakukan perjalanan terlalu jauh dan terperangkap dalam dimensi api penyucian yang disebut The Further', sebuah tempat yang dihuni oleh roh-roh yang tersiksa dari orang yang telah meninggal. Tanpa kesadarannya, tubuhnya koma, tetapi roh-roh ingin menggunakannya agar mereka dapat kembali memasuki dunia fisik. Josh menuduh Elise sebagai penipu dan mengusirnya, tetapi kemudian menemukan gambar di kamar Dalton yang tampaknya mengkonfirmasi teori Elise.</p>
        <p class="text">Josh membawa Elise dan timnya kembali. Setelah upaya pemanggilan arwah gagal total, Elise menjelaskan bahwa dia telah mengenal Lorraine selama puluhan tahun, dan sebelumnya pernah membantu Josh saat masih kecil. Josh juga memiliki kemampuan untuk memproyeksikan astral, tetapi Penghambatan memori telah menekan ingatannya bertahun-tahun yang lalu dengan bantuan Elise, setelah dia membantunya mengalahkan roh parasit dari seorang wanita tua jahat yang ingin kerasukan setan merasukinya. Satu-satunya cara untuk menyelamatkan Dalton adalah Josh pergi ke The Further dan menyelamatkannya.</p>
        <p class="text">Elise membuat Josh berada dalam kondisi hipnotis dan dia mampu memproyeksikan dirinya ke dalam "The Further". Dia menemukan jalan menuju Dalton, bertemu dengan banyak hantu berbahaya dan mengerikan di sepanjang jalan. Dia membebaskan putranya, tetapi mereka dikejar dan diserang oleh iblis berwajah merah sementara roh-roh The Further menyerang dunia nyata dan meneror Renai, Elise, dan yang lainnya. Josh dihadapkan pada wanita tua yang menyiksanya saat kecil. Dia mencoba untuk mengatasi rasa takutnya, dan wanita itu tampak mundur darinya. Josh dan Dalton terbangun di dunia nyata dan roh-roh yang menyerang menghilang.</p>
        <p class="text">Keluarga tersebut merayakan kemenangan mereka, percaya bahwa mimpi buruk telah berakhir. Elise merasakan ada yang tidak beres dengan Josh. Ketika dia mengambil fotonya, Josh menjadi marah dan mencekiknya. Renai menemukan mayat Elise dan melihat foto yang diambilnya. Foto tersebut mengungkapkan bahwa Josh sekarang dirasuki oleh hantu wanita tua dari masa kecilnya, yang terakhir telah menyelinap ke dalam tubuhnya saat ia berhadapan dengan wanita itu di "The Further". Josh muncul di belakang Renai dan Cliffhanger, dia terkesiap ketakutan.</p>
    </div>

    <!-- footer -->
    <div id="content-placeholder"></div>
<script src="./foot.js"></script>
</body>

</html>