<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insidious the red door</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="nav"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("./navc.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("nav").innerHTML = data;
                });
        });
    </script>
    <!-- <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">My Film</a>
        </div>
        <ul class="navbar-nav">
            <li><a href="../list/f.html">Back</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav> -->
    <h1 class="judul">Cerita Singkat Insidious the red door</h1>

    <table class="info-table">
        <tr>
            <th colspan="2">Insidious the red door</th>
        </tr>
        <tr>
            <td colspan="2" class="image-cell">
                <img class="centered-image" src="../images/insidious-the-red-door.jpeg" alt="Insidious: Chapter 3">
            </td>
        </tr>
        <tr>
            <th>Film</th>
            <td>Insidious the red door</td>
        </tr>
        <tr>
            <th>source cerita: </th>
            <td>
                <a href="https://id.wikipedia.org/wiki/Insidious:_The_Red_Door" target="_blank">wikipedia</a>
            </td>
        </tr>
        <tr>
            <th>Tanggal rilis</th>
            <td>7 juli 2023</td>
        </tr>
        <tr>
            <th>Bahasa</th>
            <td>Bahasa Inggris</td>
        </tr>
        <tr>
            <th>Durasi</th>
            <td>107 menit</td>
        </tr>
    </table>

    <div class="cerita">
        <p class="text">Pada tahun 2019, sembilan tahun setelah kerasukan, kenangan Josh Lambert tentang pengalamannya di The Further telah ditekan. Dia bercerai dengan istrinya, Renai, dan ibunya, Lorraine, baru saja meninggal. Hubungannya dengan putranya, Dalton, menjadi tegang, dan dia berusaha untuk memulihkan keadaan di antara mereka saat mengantarnya ke perguruan tinggi, namun berakhir dengan pertengkaran.</p>
        <p class="text">Di kelas seni pertamanya, Dalton akhirnya menggambar sebuah gambar pintu merah yang digunakan untuk memasuki The Further. Sementara itu, Josh mulai dihantui oleh roh seorang pria, yang akhirnya menemukan bahwa itu adalah ayahnya, Ben Burton, yang ia yakini telah meninggalkan keluarganya ketika ia masih muda. Dalton menghadiri pesta frat dengan teman sekamarnya, Chris, di mana dia melihat hantu seorang siswa yang terus-menerus muntah. Setelah secara tidak sengaja masuk ke dalam The Further lagi, Chris menunjukkan kepada Dalton sebuah video YouTube dari Specs and Tucker, yang menjelaskan bagaimana proyeksi astral bekerja, yang mengarah ke klip Elise Rainier yang berbicara tentang The Further.</p>
        <p class="text">Dalton mencoba memproyeksikan astral lagi sementara Chris mengawasi tubuhnya, Chris kemudian diserang oleh entitas tak terlihat dan teriakannya mengingatkan Dalton, yang bergegas kembali ke tubuhnya dan melihat bahwa itu adalah iblis berwajah merah yang menyiksanya saat kecil. Setelah diperingatkan oleh Chris untuk berhenti menggunakan kemampuannya, Dalton menerima telepon dari saudaranya, Foster, yang menceritakan tentang mimpi yang sering dialaminya, yaitu Josh yang mencoba membunuh mereka. Hal ini memacu ingatan Dalton dan dia menyelesaikan lukisannya, yang menunjukkan Josh yang kerasukan di depan pintu merah. Dalton yang tertekan ditarik ke dalam The Further, kembali ke saat Josh yang kerasukan menyerang mereka di ruang bawah tanah. Dia menangani Josh saat dia mencoba membunuh dirinya yang lebih muda dan akhirnya dibawa kembali ke sarang iblis berwajah merah.</p>
        <p class="text">Josh mulai meneliti ayahnya dan menemukan bahwa dia bunuh diri saat dirawat di rumah sakit jiwa. Dia berbicara dengan Renai, yang mengungkapkan kebenaran tentang apa yang terjadi pada keluarga mereka satu dekade yang lalu dan bahwa ayahnya juga memiliki kemampuan untuk memproyeksikan astral tetapi percaya bahwa hal-hal yang dilihatnya adalah hasil dari penyakit mental. Foster menunjukkan foto lukisan Dalton yang dia kirimkan melalui pesan singkat dan mereka menyadari bahwa Dalton dalam bahaya. Renai membantu Josh untuk kembali ke The Further untuk menyelamatkan putra mereka.</p>
        <p class="text">Dengan Dalton terperangkap di sarangnya, iblis merasuki tubuhnya dan berusaha membunuh Chris namun terhenti ketika Josh berhasil menemukan dan membebaskan Dalton. Iblis mengejar mereka melalui pintu merah dan Josh tetap di belakang untuk menutupnya agar Dalton aman, Dalton kembali ke tubuhnya dan mengecat lukisan pintu merahnya dengan cat hitam, yang kemudian menyegel pintu yang sebenarnya dan The Further secara permanen.</p>
        <p class="text">Josh bertemu dengan arwah ayahnya, yang membimbingnya kembali ke dunia nyata. Setelah kembali, Josh setuju untuk makan malam bersama Renai dan anak-anak, mengisyaratkan kemungkinan reuni. Saat dia pergi, tanpa sadar dia bertemu dengan arwah Elise, yang memberitahunya bahwa dia memiliki masa depan yang cerah di depannya. Josh kemudian pergi ke kampus Dalton, di mana ayah dan anak ini berdamai saat Dalton mempersembahkan lukisan Josh yang sedang menggendong Dalton muda keluar dari The Further.</p>
        <p class="text">Dalam adegan kredit akhir, cahaya di atas pintu yang tertutup mulai berkedip kembali, sebelum adegan tersebut memudar menjadi hitam.</p>
    </div>

    <!-- footer -->
    <div id="content-placeholder"></div>
<script src="./foot.js"></script>
</body>

</html>